/* Utilitário para alternar visualização */
.hidden {
    display: none;
}

/* Estilos específicos do Perfil (LinkedIn Style) */
.profile-header {
    background-color: var(--secondary-color);
    color: white;
    padding: 2rem;
    border-radius: .75rem .75rem 0 0;
    display: flex;
    align-items: center;
}

.profile-avatar {
    border: 4px solid white;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    object-fit: cover;
}

.profile-info h4 {
    margin-bottom: 0.1rem;
    font-weight: 600;
}

.profile-info p {
    opacity: 0.8;
    font-style: italic;
    font-size: 0.9rem;
}

.profile-details {
    padding: 1.5rem;
}

.profile-details h5 {
    color: var(--primary-color);
    font-weight: 600;
    border-bottom: 2px solid var(--accent-color);
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

.detail-item {
    margin-bottom: 1rem;
}

.detail-item strong {
    color: var(--primary-color);
    font-weight: 600;
    display: block;
    margin-bottom: 0.2rem;
    font-size: 0.9rem;
}

.detail-item span {
    font-size: 0.95rem;
    display: block;
}

.detail-item.professional span {
    white-space: pre-wrap;
}